body{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
 
}
.top-banner{
    background-color: #023e8a;
}
.top-banner div{
    width: 40%;
    margin: 5% 5%;
}
.tf-banner h1{
    font-size: 50px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 5px 0px;
}
.link-button {
    display: inline-block;
    border: 1px solid red;
    padding: 10px 25px;
    background-color: #f72585;
    color: white;
    /* max-width: 100px; */
    text-decoration: none;
}
.tl-banner img{
    max-width: 80%;
}
.grid-banner{
    width: 70%;
    margin: 5% auto;
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    /* grid-auto-rows: minmax(100px, auto); */
}
.grid-banner div{
    background-color: #f1faee;
}
.grid-banner img{
    max-width: 390px;
    margin: 19px 19px;
}
.grid-banner h1,p{
    margin: 15px 19px;
}

.high-banner{
    width: 70%;
    margin: 5% auto;
    display: flex;   
}
.hf-banner{
    flex-direction: column;
    padding: 5px;
}
.hf-banner p{
    margin-bottom: 10px;
}
.hl-banner img{
    width: 100%;
}
.hf-banner h1{
    color: #001219;
}
